*.iml
*.aab
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
keystore.jks
keystore.properties
fastlane/fastlane.json
fastlane/report.xml
.kotlin/
/sample
/app/core/release/baselineProfiles
/app/core/release
/app
