*.iml
*.aab
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
keystore.jks
keystore.properties
fastlane/fastlane.json
fastlane/report.xml
.kotlin/
/sample
transaction_sms.json
*.py
otp_sms.json
other_sms.json
normal_sms.json
Messages_20251231_234226.json
Messages_20251231_225428.json